@mixin square($size) {
	width: $size;
	height: $size;
}

@mixin shadow { box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08) }

@mixin hover-shadow {
  @include shadow();
	transition: box-shadow .25s ease;

	&:hover { box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13) }
}
