$primary-color: #fda085;
$secondary-color: #f6d365;
$neutral-color: #fff;
$success-color: #94e06e;
$text-color: #4c4141;

$container: 1210px;

$fontFamily: 'Lato', sans-serif;

$fs-small: 8px;
$fs-medium: 24px;
$fs-big: 32px;

$border-radius: 8px;
$sm-beakpoint:  768px;
$xs-beakpoint:  350px;
